.experience__container {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 20px;
}

.experience__element {
    background-color: darken($color: $light-purple, $amount: 15);
    box-sizing: border-box;
    max-width: 350px;
    border-radius: 5px;
    padding: 20px;
    transition: all .3s ease-in-out;
    transform: translateY(0%);

    h3 {
        padding-bottom: 10px;
        transition: all .3s ease-in-out;
        color: lighten($color: $main-text, $amount: 15);
    }

    &:hover {
        transform: translateY(-5%);
        background-color: white;
        color: $light-purple;

        h3 {
            color: $primary;
        }

        .experience__icon-folder {
            filter: $icon-rev-color;
        }
        .experience__icon-external-link {
            filter: $icon-rev-color;
        }
        .experience__footer {
            color: $orange;
        }
    }

}

.experience__header-container {
    justify-content: space-between;
    align-items: center;
    display: flex;
    padding-bottom: 10px;
}

.experience__icon-external-link {
    width: 25px;
    filter: $icon-primary;
}

.experience__icon-folder {
    width: 40px;
    transition: all .3s ease-in-out;
    filter: $icon-hover;
    cursor: pointer;
}

.experience__footer {
    position: absolute;
    bottom: 0;
    margin-bottom: 10px;
    font-size: 14px;
    color: lighten($color: $main-text, $amount: 10);

    span {
        padding-right: 10px;
        font-family: $font-mono  !important;
    }
}

// Modal
.experience__element-modal {
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 30;
    padding-top: 100px;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.5);
    transition: all .3s ease-in-out;
}

.experience__modal-container {
    background-color: $main-text;
    color: $primary;
    margin: auto;
    padding: 0 0 30px 0;
    border-radius: 5px;
    width: 65%;
    transition: all .3s ease-in-out;
    display: flex;
    flex-direction: column;
    max-width: 710px;

    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
}

.expecience__modal-head {
    width: 100%;
    padding-bottom: 5px;
    display: flex;
    flex-direction: row;

    p {
        flex-grow: 3;
        text-align: center;
        margin: auto;
        font-weight: bold;
    }
}

.experience__modal-close {
    width: 30px;
    height: 30px;
    background-color: transparent;
    justify-content: center;
    cursor: pointer;
    margin-bottom: 0px;
    margin-right: 0px;
    margin-left: auto;

}

.experience__icon-close {
    width: 24px;
    transition: all .3s ease-in-out;
    filter: $icon-rev-color;
    cursor: pointer;

    &:hover {
        filter: $icon-rev-color-hover;
    }
}



.experience__carousel-slide {
    width: 100%;
    min-height: max-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all .3s ease-in-out;
    overflow-x: hidden;
    padding: 0;

    img {
        height: auto;
        object-fit: cover;
        max-height: 400px;
        min-height: 350px;
    }
}


.experience__prev-next {
    cursor: pointer;
    width: auto;
    margin: auto;
    padding: 30px 10px;
    color: $light-purple;
    font-weight: bold;
    font-size: 18px;
    transition: all 0.3s ease-in-out;
    border-radius: 4px;
    user-select: none;
    border: solid $light-purple 2px;
    position: absolute;
    opacity: 0.6;

    &:hover {
        background-color: $primary;
        color: $main-text;
        opacity: 0.8;
    }
}

.left {
    left: 0;
}

.right {
    right: 0;
}

.experience__carousel-selector {
    margin-top: 25px;
    text-align: center;
}

.experience__carousel-quadrate {
    cursor: pointer;
    height: 10px;
    width: 30px;
    margin: 0 4px 0 4px;
    background-color: $primary;
    display: inline-block;
    transition: all .3s ease-in-out;
    border-radius: 4px;

}

.active {
    background-color: $light-purple;
}

.experience__paragraph {
    width: 100%;
    margin: 40px 0;
    padding: 0 25px;
    text-align: left;

    span {
        content: "";
        width: 100%;
        height: 1px;
        display: block;
        background-color: $primary;
        opacity: 0.4;
        transition: all .3s ease-in-out;
        margin: 10px 0;
    }
}

.experience__modal-footer{
    width: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 10px 25px;
    position: absolute;
    bottom: 0;
    transition: all .3s ease-in-out;
}
.expercience__modal-link{
    text-decoration: none;
    user-select: none;
    border: 1px solid $primary;
    padding: 8px 10px;
    transition: all .3s ease-in-out;
    &:hover{
        background-color: $primary;
        color: $main-text;
    }
}

@media (max-width: 1080px) {
    .experience__modal-container {
        width: 80%;
    }

    .experience__container {
        max-width: 750px;
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
        gap: 10px;
        justify-items: center;
    }

    .experience__element {
        margin-top: 10px;
    }
}

@media (max-width: 768px) {
    .experience__modal-container {
        width: 90%;
        padding: 0 0 20px 0;
    }

    .experience__prev-next {
        padding: 16px 5px;
        font-size: 16px;
    }

    .experience__carousel-slide {

        img {
            height: auto;
            object-fit: cover;
            max-height: 375px;
            min-height: 0px;
        }
    }
}

@media (max-width: 480px) {
    .experience__container {
        display: grid;
        grid-template-columns: repeat(1, minmax(0, 1fr));
        gap: 0px;
        justify-items: center;
    }

    .experience__element {
        margin-top: 15px;
    }
    .experience__modal-container {
        padding: 0 0 15px 0;
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 100px 0;
        top: 0;
        bottom: 0;
    }

    .experience__carousel-slide {

        img {
            height: auto;
            object-fit: cover;
            max-height: 220px;
            min-height: 0px;
        }
    }

    .experience__carousel-selector {
        margin-top: 15px;
    }

    .experience__paragraph {
        padding: 0 10px;
    }
    .experience__modal-footer{
        padding: 10px;
    }
}