.experience__element{
    background-color: darken($color: $light-purple, $amount: 15);
    box-sizing: border-box;    
    max-width: 350px;
    border-radius: 5px;
    padding: 20px;
    transition: all .3s ease-in-out;
    transform: translateY(0%);
    h3{
        padding-bottom: 10px;
        transition: all .3s ease-in-out;
    }
    &:hover{
        transform: translateY(-5%);
        h3{
            color: lighten($color: $main-text, $amount: 15);
        }
        .experience__icon-folder{
            filter: invert(88%) sepia(3%) saturate(3453%) hue-rotate(206deg) brightness(100%) contrast(98%);
        }
    }
    
}
.experience__header-container{
    justify-content: space-between;
    align-items: center;
    display: flex;
    padding-bottom: 10px;
}
.experience__icon-external-link{
    width: 25px;
    filter: invert(77%) sepia(3%) saturate(3453%) hue-rotate(206deg) brightness(92%) contrast(98%);
}
.experience__icon-folder{
    width: 40px;
    transition: all .3s ease-in-out;
    filter: invert(77%) sepia(3%) saturate(3453%) hue-rotate(206deg) brightness(92%) contrast(98%);
}
.experience__footer{
    display: flex;
    justify-content: left;
    font-size: 14px;
    
    span{
        padding-right: 10px;
        font-family: $font-mono !important;
    }
}