.navbar__head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    padding: 0px 50px;
    box-sizing: border-box;
    background-color: $primary;
    top: 0px;
    width: 100%;
    height: 100px;
    transition: all 0.3s ease;
    z-index: 11;
}

.navbar__head-scroll {
    height: 70px;
    background-color: transparent;
    backdrop-filter: blur(10px);
    box-shadow: 0 10px 30px -10px rgba(2, 12, 27, 0.7);
}

.navbar__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 100%;
    color: $main-text;
    font-family: $font-mono;
    z-index: 12;
}

.navbar__logo {
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: all .3s ease-in-out;

    a {
        text-decoration: none;
        color: $main-text;
        transition: all .3s ease-in-out;

        &:hover {
            color: $orange;
        }
    }

}

.navbar__content {
    display: flex;
    align-items: center;
    transition: all .3s ease-in-out;

    a {
        margin: 0px 15px;
        position: relative;
        font-size: 14px;
        font-family: $font-mono;
        transition: all .3s ease;
        color: $main-text;
        cursor: pointer;
        text-decoration: none;

        &:hover {
            color: $orange;
        }
    }
}

.navbar__content-mobile {
    display: none;
}

.navbar__menu-icon {
    transition: all .3s ease-in-out;
    display: none;
}


@media (max-width: 768px) {
    .navbar__head {
        height: 70px;
    }

    .navbar__content {
        display: none;
    }

    .navbar__content-mobile {
        padding: 0px 20px;
        width: 100%;
        height: auto;
        position: fixed;
        display: flex;
        align-items: flex-start;
        left: 0;
        right: 0;
        top: 0;
        flex-direction: column;
        margin: auto;
        background-color: $orange;
        box-shadow: 0 10px 30px -10px rgba(2, 12, 27, 0.7);
        opacity: 0.95;
        transform: translateY(70px);
        animation: slidein .3s forwards;
        z-index: 11;

        a {
            padding: 10px;
            color: white;
            width: 100%;

            &:hover {
                color: $primary;
            }
        }
    }

    @keyframes slidein {
        from {
            transform: translateY(50px);
        }

        to {
            transform: translateY(70px);
        }
    }

    .navbar__menu-icon {
        display: block;

        img {
            width: 40px;
        }
    }
}