* {
    font-family: Helvetica, Arial, sans-serif;
    margin: 0px;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

html, body {
    height: 100vh;
    width: 100vw;
}
body {
    margin: 0px;
    width: 100%;
    background-color: $primary;
    overflow-x: hidden;
}
section {
    color: $main-text;
    margin: 0px auto;
    padding: 120px 0px;
    max-width: 1000px;
    box-sizing: border-box;
    transition: all .3s ease-in-out;
}
.section-title {
    display: flex;
    width: 100%;
    align-items: center;
    position: relative;
    margin: 10px 0px 40px;
    font-size: 25px;
    white-space: nowrap;
    transition: all .3s ease-in-out;
    &::before {
        content: "";
        width: 50px;
        height: 1px;
        display: block;
        position: relative;
        background-color: white;
        margin-right: 10px;
        transition: all .3s ease-in-out;
    }
    &::after {
        content: "";
        width: 300px;
        height: 1px;
        display: block;
        position: relative;
        background-color: white;
        margin-left: 10px;
        transition: all .3s ease-in-out;
    }
}
p {
    margin: 0px 0px 15px;
}

main {
    width: 100%;
}
.mt-1 {
    margin-top: 5px;
}
.mt-5 {
    margin-top: 20px;
}
.mb-1 {
    margin-bottom: 5px;
}
.mb-5 {
    margin-bottom: 20px;
}
.pointer {
    cursor: pointer;
}

::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-track{
    background-color: $primary;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb{
    background-color: $light-purple;
    border-radius: 10px;
}

@media (max-width: 1080px) {
    .section-title::after {
        width: 200px;
    }
}
@media (max-width: 768px) {
    .section-title::before {
        width: 0px;
    }
    .section-title::after {
        width: 100%;
    }
}