/* $deep_purple: #2C0042; */

// Font
$font-mono: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", monospace;
$font-cal: "Calibre", "Inter", "San Francisco", "SF Pro Text", -apple-system, system-ui, sans-serif;

// Colors
$primary: #2C0042;
// $primary: #440A67;
$light-purple: #93329E;
$main-text: #B4AEE8;
$orange: #f16b28;
$white: #FFFFFF;

// Icons colors
$icon-primary: invert(77%) sepia(3%) saturate(3453%) hue-rotate(206deg) brightness(92%) contrast(98%);
$icon-hover: invert(88%) sepia(3%) saturate(3453%) hue-rotate(206deg) brightness(100%) contrast(98%);

$icon-rev-color: invert(4%) sepia(48%) saturate(7377%) hue-rotate(282deg) brightness(104%) contrast(113%);
$icon-rev-color-hover: invert(21%) sepia(73%) saturate(2189%) hue-rotate(275deg) brightness(95%) contrast(87%);
$icon-orange: invert(49%) sepia(46%) saturate(1892%) hue-rotate(344deg) brightness(97%) contrast(95%);
