/* $deep_purple: #2C0042; */

// Font
$font-mono: "SF Mono","Fira Code","Fira Mono","Roboto Mono",monospace;

// Colors
$primary: #2C0042;
$light-purple: #C3A9D0;
$white: #fff;


/* color:#D07BFB; */
/* color: #C3A9D0; posible logo */
/* color: #B6ACBB; */
